.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/solution-explorer/class.cs-template
.vscode/solution-explorer/class.ts-template
.vscode/solution-explorer/class.vb-template
.vscode/solution-explorer/default.ts-template
.vscode/solution-explorer/enum.cs-template
.vscode/solution-explorer/interface.cs-template
.vscode/solution-explorer/interface.ts-template
.vscode/solution-explorer/template-list.json
.vscode/solution-explorer/template-parameters.js
Logicore.Core/bin/Debug/netstandard2.0/Logicore.Core.deps.json
Logicore.Core/bin/Debug/netstandard2.0/Logicore.Core.dll
Logicore.Core/bin/Debug/netstandard2.0/Logicore.Core.pdb
Logicore.WebCore/bin/Debug/netstandard2.0/Logicore.WebCore.deps.json
Logicore.WebCore/bin/Debug/netstandard2.0/Logicore.WebCore.dll
Logicore.WebCore/bin/Debug/netstandard2.0/Logicore.WebCore.pdb
Logicore.WebCore/obj/Logicore.WebCore.csproj.nuget.dgspec.json
Logicore.WebCore/obj/Logicore.WebCore.csproj.nuget.g.props
Logicore.WebCore/obj/Logicore.WebCore.csproj.nuget.g.targets
Logicore.WebCore/obj/project.assets.json
Logicore.WebCore/obj/project.nuget.cache
Logicore.WebCore/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Logicore.WebCore/obj/Debug/netstandard2.0/Logicore.WebCore.AssemblyInfo.cs
Logicore.WebCore/obj/Debug/netstandard2.0/Logicore.WebCore.AssemblyInfoInputs.cache
Logicore.WebCore/obj/Debug/netstandard2.0/Logicore.WebCore.assets.cache
Logicore.WebCore/obj/Debug/netstandard2.0/Logicore.WebCore.csproj.AssemblyReference.cache
Logicore.WebCore/obj/Debug/netstandard2.0/Logicore.WebCore.csproj.CoreCompileInputs.cache
Logicore.WebCore/obj/Debug/netstandard2.0/Logicore.WebCore.csproj.FileListAbsolute.txt
Logicore.WebCore/obj/Debug/netstandard2.0/Logicore.WebCore.csprojAssemblyReference.cache
Logicore.WebCore/obj/Debug/netstandard2.0/Logicore.WebCore.dll
Logicore.WebCore/obj/Debug/netstandard2.0/Logicore.WebCore.pdb
Logicore.Core/obj/Logicore.Core.csproj.nuget.dgspec.json
Logicore.Core/obj/Logicore.Core.csproj.nuget.g.props
Logicore.Core/obj/Logicore.Core.csproj.nuget.g.targets
Logicore.Core/obj/project.assets.json
Logicore.Core/obj/project.nuget.cache
Logicore.Core/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Logicore.Core/obj/Debug/netstandard2.0/Logicore.Core.AssemblyInfo.cs
Logicore.Core/obj/Debug/netstandard2.0/Logicore.Core.AssemblyInfoInputs.cache
Logicore.Core/obj/Debug/netstandard2.0/Logicore.Core.assets.cache
Logicore.Core/obj/Debug/netstandard2.0/Logicore.Core.csproj.AssemblyReference.cache
Logicore.Core/obj/Debug/netstandard2.0/Logicore.Core.csproj.CoreCompileInputs.cache
Logicore.Core/obj/Debug/netstandard2.0/Logicore.Core.csproj.FileListAbsolute.txt
Logicore.Core/obj/Debug/netstandard2.0/Logicore.Core.dll
Logicore.Core/obj/Debug/netstandard2.0/Logicore.Core.pdb
Logicore.IRepository/bin/Debug/netstandard2.0/Logicore.Core.dll
Logicore.IRepository/bin/Debug/netstandard2.0/Logicore.Core.pdb
Logicore.IRepository/bin/Debug/netstandard2.0/Logicore.IRepository.deps.json
Logicore.IRepository/bin/Debug/netstandard2.0/Logicore.IRepository.dll
Logicore.IRepository/bin/Debug/netstandard2.0/Logicore.IRepository.pdb
Logicore.IRepository/obj/Logicore.IRepository.csproj.nuget.dgspec.json
Logicore.IRepository/obj/Logicore.IRepository.csproj.nuget.g.props
Logicore.IRepository/obj/Logicore.IRepository.csproj.nuget.g.targets
Logicore.IRepository/obj/project.assets.json
Logicore.IRepository/obj/project.nuget.cache
Logicore.IRepository/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Logicore.IRepository/obj/Debug/netstandard2.0/Logicore.IRepository.AssemblyInfo.cs
Logicore.IRepository/obj/Debug/netstandard2.0/Logicore.IRepository.AssemblyInfoInputs.cache
Logicore.IRepository/obj/Debug/netstandard2.0/Logicore.IRepository.assets.cache
Logicore.IRepository/obj/Debug/netstandard2.0/Logicore.IRepository.csproj.AssemblyReference.cache
Logicore.IRepository/obj/Debug/netstandard2.0/Logicore.IRepository.csproj.CopyComplete
Logicore.IRepository/obj/Debug/netstandard2.0/Logicore.IRepository.csproj.CoreCompileInputs.cache
Logicore.IRepository/obj/Debug/netstandard2.0/Logicore.IRepository.csproj.FileListAbsolute.txt
Logicore.IRepository/obj/Debug/netstandard2.0/Logicore.IRepository.dll
Logicore.IRepository/obj/Debug/netstandard2.0/Logicore.IRepository.pdb
Logicore.IServices/bin/Debug/netstandard2.0/Logicore.Core.dll
Logicore.IServices/bin/Debug/netstandard2.0/Logicore.Core.pdb
Logicore.IServices/bin/Debug/netstandard2.0/Logicore.IServices.deps.json
Logicore.IServices/bin/Debug/netstandard2.0/Logicore.IServices.dll
Logicore.IServices/bin/Debug/netstandard2.0/Logicore.IServices.pdb
Logicore.IServices/obj/Logicore.IServices.csproj.nuget.dgspec.json
Logicore.IServices/obj/Logicore.IServices.csproj.nuget.g.props
Logicore.IServices/obj/Logicore.IServices.csproj.nuget.g.targets
Logicore.IServices/obj/project.assets.json
Logicore.IServices/obj/project.nuget.cache
Logicore.IServices/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Logicore.IServices/obj/Debug/netstandard2.0/Logicore.IServices.AssemblyInfo.cs
Logicore.IServices/obj/Debug/netstandard2.0/Logicore.IServices.AssemblyInfoInputs.cache
Logicore.IServices/obj/Debug/netstandard2.0/Logicore.IServices.assets.cache
Logicore.IServices/obj/Debug/netstandard2.0/Logicore.IServices.csproj.AssemblyReference.cache
Logicore.IServices/obj/Debug/netstandard2.0/Logicore.IServices.csproj.CopyComplete
Logicore.IServices/obj/Debug/netstandard2.0/Logicore.IServices.csproj.CoreCompileInputs.cache
Logicore.IServices/obj/Debug/netstandard2.0/Logicore.IServices.csproj.FileListAbsolute.txt
Logicore.IServices/obj/Debug/netstandard2.0/Logicore.IServices.dll
Logicore.IServices/obj/Debug/netstandard2.0/Logicore.IServices.pdb
Logicore.Repository/bin/Debug/netstandard2.0/Logicore.Core.dll
Logicore.Repository/bin/Debug/netstandard2.0/Logicore.Core.pdb
Logicore.Repository/bin/Debug/netstandard2.0/Logicore.IRepository.dll
Logicore.Repository/bin/Debug/netstandard2.0/Logicore.IRepository.pdb
Logicore.Repository/bin/Debug/netstandard2.0/Logicore.Repository.deps.json
Logicore.Repository/bin/Debug/netstandard2.0/Logicore.Repository.dll
Logicore.Repository/bin/Debug/netstandard2.0/Logicore.Repository.pdb
Logicore.Repository/obj/Logicore.Repository.csproj.nuget.dgspec.json
Logicore.Repository/obj/Logicore.Repository.csproj.nuget.g.props
Logicore.Repository/obj/Logicore.Repository.csproj.nuget.g.targets
Logicore.Repository/obj/project.assets.json
Logicore.Repository/obj/project.nuget.cache
Logicore.Repository/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Logicore.Repository/obj/Debug/netstandard2.0/Logicore.Repository.AssemblyInfo.cs
Logicore.Repository/obj/Debug/netstandard2.0/Logicore.Repository.AssemblyInfoInputs.cache
Logicore.Repository/obj/Debug/netstandard2.0/Logicore.Repository.assets.cache
Logicore.Repository/obj/Debug/netstandard2.0/Logicore.Repository.csproj.AssemblyReference.cache
Logicore.Repository/obj/Debug/netstandard2.0/Logicore.Repository.csproj.CopyComplete
Logicore.Repository/obj/Debug/netstandard2.0/Logicore.Repository.csproj.CoreCompileInputs.cache
Logicore.Repository/obj/Debug/netstandard2.0/Logicore.Repository.csproj.FileListAbsolute.txt
Logicore.Repository/obj/Debug/netstandard2.0/Logicore.Repository.dll
Logicore.Repository/obj/Debug/netstandard2.0/Logicore.Repository.pdb
Logicore.Services/bin/Debug/netstandard2.0/Logicore.Core.dll
Logicore.Services/bin/Debug/netstandard2.0/Logicore.Core.pdb
Logicore.Services/bin/Debug/netstandard2.0/Logicore.IRepository.dll
Logicore.Services/bin/Debug/netstandard2.0/Logicore.IRepository.pdb
Logicore.Services/bin/Debug/netstandard2.0/Logicore.IServices.dll
Logicore.Services/bin/Debug/netstandard2.0/Logicore.IServices.pdb
Logicore.Services/bin/Debug/netstandard2.0/Logicore.Services.deps.json
Logicore.Services/bin/Debug/netstandard2.0/Logicore.Services.dll
Logicore.Services/bin/Debug/netstandard2.0/Logicore.Services.pdb
Logicore.Services/obj/Logicore.Services.csproj.nuget.dgspec.json
Logicore.Services/obj/Logicore.Services.csproj.nuget.g.props
Logicore.Services/obj/Logicore.Services.csproj.nuget.g.targets
Logicore.Services/obj/project.assets.json
Logicore.Services/obj/project.nuget.cache
Logicore.Services/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Logicore.Services/obj/Debug/netstandard2.0/Logicore.Services.AssemblyInfo.cs
Logicore.Services/obj/Debug/netstandard2.0/Logicore.Services.AssemblyInfoInputs.cache
Logicore.Services/obj/Debug/netstandard2.0/Logicore.Services.assets.cache
Logicore.Services/obj/Debug/netstandard2.0/Logicore.Services.csproj.AssemblyReference.cache
Logicore.Services/obj/Debug/netstandard2.0/Logicore.Services.csproj.CopyComplete
Logicore.Services/obj/Debug/netstandard2.0/Logicore.Services.csproj.CoreCompileInputs.cache
Logicore.Services/obj/Debug/netstandard2.0/Logicore.Services.csproj.FileListAbsolute.txt
Logicore.Services/obj/Debug/netstandard2.0/Logicore.Services.dll
Logicore.Services/obj/Debug/netstandard2.0/Logicore.Services.pdb
Logicore.Web/bin/Debug/netcoreapp3.1/appsettings.Development.json
Logicore.Web/bin/Debug/netcoreapp3.1/appsettings.json
Logicore.Web/bin/Debug/netcoreapp3.1/libman.json
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Core.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Core.pdb
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.IRepository.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.IRepository.pdb
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.IServices.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.IServices.pdb
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Repository.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Repository.pdb
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Services.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Services.pdb
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Web.deps.json
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Web.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Web.exe
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Web.pdb
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Web.runtimeconfig.dev.json
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Web.runtimeconfig.json
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Web.Views.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Logicore.Web.Views.pdb
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Redis.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Logicore.Web/bin/Debug/netcoreapp3.1/MySqlConnector.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Pomelo.EntityFrameworkCore.MySql.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Pomelo.JsonObject.dll
Logicore.Web/bin/Debug/netcoreapp3.1/StackExchange.Redis.StrongName.dll
Logicore.Web/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
Logicore.Web/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
Logicore.Web/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Logicore.Web/obj/Logicore.Web.csproj.nuget.dgspec.json
Logicore.Web/obj/Logicore.Web.csproj.nuget.g.props
Logicore.Web/obj/Logicore.Web.csproj.nuget.g.targets
Logicore.Web/obj/project.assets.json
Logicore.Web/obj/project.nuget.cache
Logicore.Web/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Logicore.Web/obj/Debug/netcoreapp3.1/apphost.exe
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.AssemblyInfo.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.AssemblyInfoInputs.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.assets.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.csproj.AssemblyReference.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.csproj.CopyComplete
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.csproj.CoreCompileInputs.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.csproj.FileListAbsolute.txt
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.dll
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.exe
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.genruntimeconfig.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.MvcApplicationPartsAssemblyInfo.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.pdb
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.RazorAssemblyInfo.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.RazorAssemblyInfo.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.RazorCoreGenerate.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.RazorTargetAssemblyInfo.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.RazorTargetAssemblyInfo.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.TagHelpers.input.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.TagHelpers.output.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.Views.dll
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.Views.pdb
Logicore.Web/obj/Debug/netcoreapp3.1/project.razor.json
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Admin/Add.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Admin/Edit.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Admin/EditGeneralInfo.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Admin/EditPassword.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Admin/Index.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Department/Add.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Department/DropDownDepartmentSearch.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Department/Edit.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Department/Index.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Home/Login.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Home/WelCome.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Menu/Add.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Menu/DropDownMenuSearch.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Menu/Edit.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Menu/FontAwesome.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Menu/FontGlyphicons.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Menu/Index.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Role/Add.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Role/DropDownRoleSearch.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Role/Edit.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Role/EditPermissionWithRole.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Role/Index.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Index_Layout.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Shared/FootPage.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Menu.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/staticwebassets/Logicore.Web.StaticWebAssets.Manifest.cache
Logicore.Web/obj/Debug/netcoreapp3.1/staticwebassets/Logicore.Web.StaticWebAssets.xml
Logicore.Core/obj/Debug/netstandard2.0/Logicore.Core.csprojAssemblyReference.cache
Logicore.IServices/obj/Debug/netstandard2.0/Logicore.IServices.csprojAssemblyReference.cache
Logicore.Repository/obj/Debug/netstandard2.0/Logicore.Repository.csprojAssemblyReference.cache
Logicore.IRepository/obj/Debug/netstandard2.0/Logicore.IRepository.csprojAssemblyReference.cache
Logicore.Services/obj/Debug/netstandard2.0/Logicore.Services.csprojAssemblyReference.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Logicore.Web.csprojAssemblyReference.cache
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Message/Edit.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Message/Index.cshtml.g.cs
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Message/Send.cshtml.g.cs
.vs/Logicore/DesignTimeBuild/.dtbcache.v2
.vs/Logicore/v16/.suo
Logicore.Web/obj/Debug/netcoreapp3.1/Razor/Views/Admin/DropDownAdminSearch.cshtml.g.cs
Logicore.Web/wwwroot/lib/nth-tabs/README.md
