*.dll
*.g.cs
*.AssemblyAttributes.cs
*.pdb
*.AssemblyInfo.cs
*.CopyComplete
*.cache
*.nuget.dgspec.json
*.exe
*.cshtml.g.cs
*.editorconfig
*.assets.json
*.g.targets
*.g.props
*.RazorAssemblyInfo.cs
*.FileListAbsolute.txt
*.RazorTargetAssemblyInfo.cs
*.StaticWebAssets.xml
.vs/Logicore/config/applicationhost.config
.vs/Logicore/DesignTimeBuild/.dtbcache.v2
.vs/Logicore/v16/.suo
*.cs-template
*.ts-template
*.vb-template
.vscode/solution-explorer/template-list.json
.vscode/solution-explorer/template-parameters.js
.vscode/launch.json
*.deps.json
Logicore.Web/bin/
Logicore.Web/obj/Debug/
