@model ThreePoint.Core.ViewModel.LoginViewModel;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>欢迎登录</h1>
                                </div>
                                <p>Logicore管理系统</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <form method="post" asp-controller="Home" asp-action="login" class="form-validate"
                                    id="loginFrom">
                                    <div class="form-group">
                                        <input asp-for="LoginName" type="text" required data-msg="请输入用户名"
                                            placeholder="用户名" class="input-material">
                                        <span asp-validation-for="LoginName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" asp-for="Password" required data-msg="请输入密码"
                                            placeholder="密码" class="input-material">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <button id="login" type="submit" class="btn btn-primary">登录</button>
                                    <div style="margin-top: -40px;">
                                        <!-- <input type="checkbox"  id="check1"/>&nbsp;<span>记住密码</span>
                     <input type="checkbox" id="check2"/>&nbsp;<span>自动登录</span> -->
                                        @* <div class="custom-control custom-checkbox " style="float: right;">
                                            <input type="checkbox" class="custom-control-input" id="check2">
                                            <label class="custom-control-label" for="check2">自动登录</label>
                                            </div> *@
                                        <div class="custom-control custom-checkbox " style="float: right;">
                                            <input type="checkbox" class="custom-control-input" id="check1">
                                            <label class="custom-control-label" for="check1">记住密码&nbsp;&nbsp;</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        if (!localStorage) {
            console.log("浏览器不支持localStorage");
        }

        /*判断上次是否勾选记住密码和自动登录*/
        var check1s = localStorage.getItem("check1");
        var oldName = localStorage.getItem("LoginName");
        var oldPass = localStorage.getItem("password");

        if (check1s == "true") {
            $("#LoginName").val(oldName);
            $("#Password").val(oldPass);
            $("#check1").prop('checked', true);
        } else {
            $("#LoginName").val('');
            $("#Password").val('');
            $("#check1").prop('checked', false);
        }
        /*登录*/
        $("#login").click(function () {
            var userName = $("#LoginName").val();
            var passWord = $("#Password").val();

            /*获取当前输入的账号密码*/
            localStorage.setItem("LoginName", userName);
            localStorage.setItem("password", passWord);

            /*获取记住密码  自动登录的 checkbox的值*/
            var check1 = $("#check1").prop('checked');
            localStorage.setItem("check1", check1);
        })
    </script>
</body>

</html>