<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <title>@ViewData["title"]</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap3-dialog/css/bootstrap-dialog.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/assets/css/docs.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap3-dialog/js/bootstrap-dialog.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>

</head>

<body>

    @RenderBody()

</body>

</html>