@model ThreePoint.Core.Enities.ScheduleInfoEntity
@{
    ViewData["Title"] = "添加";
}

<div class="container-fluid">
    <div class="page-header">
        <h2>Create <small>ScheduleInfo</small></h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="JobName" class="control-label"></label>
                    <input asp-for="JobName" class="form-control" />
                    <span asp-validation-for="JobName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobGroup" class="control-label"></label>
                    <input asp-for="JobGroup" class="form-control" />
                    <span asp-validation-for="JobGroup" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Url" class="control-label"></label>
                    <input asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StarRunTime" class="control-label"></label>
                    <input asp-for="StarRunTime" class="form-control" />
                    <span asp-validation-for="StarRunTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndRunTime" class="control-label"></label>
                    <input asp-for="EndRunTime" class="form-control" />
                    <span asp-validation-for="EndRunTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NextRunTime" class="control-label"></label>
                    <input asp-for="NextRunTime" class="form-control" />
                    <span asp-validation-for="NextRunTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CromExpress" class="control-label"></label>
                    <input asp-for="CromExpress" class="form-control" />
                    <a href="https://www.pppet.net/">在线生成器</a>
                    <span asp-validation-for="CromExpress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ServiceCode" class="control-label"></label>
                    <input asp-for="ServiceCode" class="form-control" />
                    <span asp-validation-for="ServiceCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InterfaceCode" class="control-label"></label>
                    <input asp-for="InterfaceCode" class="form-control" />
                    <span asp-validation-for="InterfaceCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TaskDescription" class="control-label"></label>
                    <input asp-for="TaskDescription" class="form-control" />
                    <span asp-validation-for="TaskDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataStatus" class="control-label"></label>
                    <input asp-for="DataStatus" class="form-control" />
                    <span asp-validation-for="DataStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="添加任务" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">返回列表</a>
    </div>
</div>