@model Logicore.Core.ViewModel.SystemConfigViewModel
<div class="form-group"></div>

<div class="container-fluid">
    <center><h3>系统基础信息 <a class="label label-default" href="Edit">修改</a></h3></center>
    <p style="font-size: medium;">系统名称：@Model.SystemName</p>
    <p style="font-size: medium;">是否已初始化：@Model.IsDataInited</p>
    <p style="font-size: medium;">初始化时间：@Model.DataInitedDate</p>
</div>